--------------------------------------------------------------------------------------------
--->------->------>----->---->--->-->-OVERPLAYED  LIST-<--<---<----<-----<------<-------<---
>------>----->---->--->-->-ALL SONGS ON THIS LIST WILL BE SKIPPED-<--<---<----<-----<------<
--------------------------------------------------------------------------------------------
ALL OF THE FOLLOWING ALSO INCLUDE ALL REMIXES/EDITS:

Panda Eyes & Terminite - High Score
TheFatRat - Monody
Deaf Kev - Invincible
Vexento - Masked Heroes
Galantis - Runaway (U & I) [Premiere]
Lenka - Blue Skies (REVOKE Remix)
Jonas Blue - Fast Car
[LYRICS] Pegboard Nerds - Emoji
Pegboard Nerds - Pink Cloud
Warsongs - PROJECT: Yi
Warsongs - Let The Games Begin
Warsongs - The Boy Who Shattered Time
Razihel - Legends
Warsongs - Welcome to Planet Urf
Nitro Fun & Sound Remedy - Turbo Penguin
Remmi - Star Spangled
Calvin Harris ft. Ellie Goulding - Outside
Pegboard Nerds & Tristam - Razor Sharp
Tristam & Braken - Flight
Adele - Hello
[Glitch Hop / 110BPM] - Pegboard Nerds - FrainBreeze [Monstercat FREE EP Release]
The Chainsmokers ft. Siren - Kanye
TEST
