--------------------------------------------------------------------------------------------
--->------->------>----->---->--->-->-OVERPLAYED  LIST-<--<---<----<-----<------<-------<---
>------>----->---->--->-->-ALL SONGS ON THIS LIST WILL BE SKIPPED-<--<---<----<-----<------<
--------------------------------------------------------------------------------------------
ALL OF THE FOLLOWING SONGS ALSO INCLUDE ALL REMIXES/EDITS:

• Marshmello  - Alone
• Alan Walker - Sing Me To Sleep
• The Chainsmokers - Closer (feat. Halsey)
• Major Lazer - Cold Water (feat. Justin Bieber & MØ) (Jupe Remix)
• The Chainsmokers - Don’t Let Me Down
• Alan Walker - Fade/Faded
• Caravan Palace - Lone Digger
• Harry Potter - Expecto Patronum (Goblins From Mars Trap Remix)
• DJ Earworm Mashup - United State of Pop 2014 (Do What You Wanna Do)
• Jordan Comolli - Grind
• Gioni - Trigger
• Kid Cudi - Day 'N' Nite (Andrew Luce Remix)
• Lenka - Blue Skies (REVOKE Remix)
• twenty one pilots - Heathens (DISTO Remix)
• ??? - Superhero (ft. Chris Linton)
• Tristam & Braken - Frame of Mind [Monstercat Release]
• Stephen - Crossfire
• IndieDANCE || BUNT. - Young Hearts (feat. BEGINNERS)
• Foster the People - Pumped up Kicks (Bridge and Law Remix)
• Brandyn Burnette - Down
• TheFatRat - Xenogenesis
• Imagine Dragons - Shots (Broiler Remix)
• Braken - To The Stars
• Flux Pavilion & Matthew Koma - Emotional

The next update will be Sunday, 11/6 ~11 PM EST!
