--------------------------------------------------------------------------------------------
--->------->------>----->---->--->-->-OVERPLAYED  LIST-<--<---<----<-----<------<-------<---
>------>----->---->--->-->-ALL SONGS ON THIS LIST WILL BE SKIPPED-<--<---<----<-----<------<
--------------------------------------------------------------------------------------------
ALL OF THE FOLLOWING SONGS ALSO INCLUDE ALL REMIXES/EDITS:

• The Chainsmokers - Closer (feat. Halsey)
• Alan Walker - Fade/Faded
• OMFG - Hello
• Teminite & Panda Eyes - Highscore
• The Eden Project - XO
• Alan Walker - Sing Me To Sleep
• Twenty One Pilots - Stressed Out
• Imagine Dragons - Demons
• EDEN/The Eden Project - Fumes
• San Holo - We Rise
• Imagine Dragons - Shots
• Ephixa & Stephen Walking - Matches
• Fox Stevenson - Sandblast
• Vanic x Zella Day - Hypnotic
• Alan Walker - Alone
• Porter Robinson - Sad Machine
• Keys N Krates - Dum Dee Dum
• The Chainsmokers - Don't Let Me Down
• Of Monsters and Men - Little Talks
• Jaymes Young ft. Lana Del Rey - Moondust
• Galantis - No Money
• Flux Pavilion & Matthew Koma - Emotional
• TheFatRat - Xenogenesis
• Black Coast - TRNDSTTR
• Calvin Harris - Outside ft. Ellie Goulding
• Marshmello - Alone
• Alan Walker - Spectre
• Owl City - Fireflies
• Grabbitz - Turn Around

The OP list will be updated at ~12 AM on January 22nd, 2017.
